
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #16b20e;
  }
  
